$white-color: #fcfcfc;

$card-bg-color: #222222;
$main-color: #191919;
$secondary-color: #00cbff;

$positive-color: #15bc3f;
$negative-color: #dc3636;

$grid-breakpoints: (
  md: 648px,
  lg: 992px,
);
